<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue v-showa</title>
	</head>
	<body>
		<script src="./vue.js"></script>
		<!--这是我们的view-->
		<div id="app">
			<p>{{message}}</p>
			<input type="text" v-model="message"/>
			<!--v-if与v-else相结合   相当于Javascript普通的 if else判断语句  
				当if语句条件成立时  则不执行else   反之亦然
			-->
			<h1 v-if="yes">yes!</h1>
			<h1 v-else="no">no!</h1>
			
			<h1>--------分割线-------</h1>
			
			<h1 v-show="name">Name：{{name}}</h1>
			
			<h1 v-else="age>=24">Age： {{age}}</h1>
		</div>
		<script>

			var  vm  = new Vue({
				el: '#app',
				data: {
					message: 'hello world',
					yes: true,
					no: true,
					name: 'zhz',
					age: 24,
				}
			})
		</script>
		
	</body>
</html>
